$border-radius-input: 6px;

$color-background-dark: #003366;
$color-border-box-shadow-dark: rgb(3 143 222 / 20%);
$color-text-dark: #038fdd;
$color-text-dark-highlight: #fa8c15;

$height-header: 72px;
$height-menu-slider-item: 42px;

$width-menu-slider: 280px;
